{% extends "layout.html" %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form action="{{ url_for('check') }}" method=post class=check-entry>
                <div class="input-group">
                    <label class="radio-inline"><input checked type="radio" name="optradio" value="0106">NL:KVK
                        (0106)</label>
                    <label class="radio-inline"><input type="radio" name="optradio" value="9944">NL:VAT (9944)</label>
                    <label class="radio-inline"><input type="radio" name="optradio" value="9954">NL:OIN (9954)</label>
                    <label class="radio-inline"><input type="radio" name="optradio" value="PEPPOL">PEPPOL
                        Identifier</label>
                </div>

                <div class="input-group">
                    <input name=businessid type="text" class="form-control" placeholder="Business identifier">
                    <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
</div>

{% if result and result.smpentries %}

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Results for {{ peppolid }}</div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            {% if result.si_10_creditnote %}
            <button type="button" class="btn btn-success disabled">SI-UBL 1.0 CreditNote</button>
            {% else %}
            <button type="button" class="btn btn-danger disabled">SI-UBL 1.0 CreditNote</button>
            {% endif %}
        </div>
        <div class="btn-group" role="group">
            {% if result.si_10_invoice %}
            <button type="button" class="btn btn-success disabled">SI-UBL 1.0 Invoice</button>
            {% else %}
            <button type="button" class="btn btn-danger disabled">SI-UBL 1.0 Invoice</button>
            {% endif %}
        </div>
        <div class="btn-group" role="group">
            {% if result.si_11 %}
            <button type="button" class="btn btn-success disabled">SI-UBL 1.1</button>
            {% else %}
            <button type="button" class="btn btn-danger disabled">SI-UBL 1.1</button>
            {% endif %}
        </div>
        <div class="btn-group" role="group">
            {% if result.si_12 %}
            <button type="button" class="btn btn-success disabled">SI-UBL 1.2</button>
            {% else %}
            <button type="button" class="btn btn-danger disabled">SI-UBL 1.2</button>
            {% endif %}
        </div>
        <div class="btn-group" role="group">
            {% if result.peppol4a %}
            <button type="button" class="btn btn-success disabled">PEPPOL 4a</button>
            {% else %}
            <button type="button" class="btn btn-danger disabled">PEPPOL 4a</button>
            {% endif %}
        </div>
    </div>

    <!-- Table -->
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Document Types</th>
            </tr>
            </thead>
            <tbody>
            {% for smp in result.smpentries%}
            <tr>
                <td>{{ smp.documentidentifier }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}